name = "blt-leaf"
main = "src/index.py"
compatibility_date = "2024-01-01"
compatibility_flags = ["python_workers"]

[[d1_databases]]
binding = "DB"
database_name = "pr_tracker"
database_id = "6f53d0a9-52ac-4527-a242-074b52504294"

[vars]
ENVIRONMENT = "production"

# Configure assets (static files)
[assets]
directory = "./public"
